[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-cucumber.git"]
	path = bundle/vim-cucumber.git
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/vim-ref"]
	path = bundle/vim-ref
	url = https://github.com/thinca/vim-ref
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "unite.vim"]
	path = unite.vim
	url = git://github.com/Shougo/unite.vim.git
